In [13]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import mutual_info_classif
from scipy.stats import chi2_contingency

In [14]:
# Load the dataset
file_path = r"C:\Users\CZAR-COMPUTERS\Desktop\files\repo\armda\credit_default_dataset.csv"
df = pd.read_csv(file_path)
print("Dataset loaded successfully")

Dataset loaded successfully

In [15]:
# Dsiplay the data tops
print(f"Dataset shape: {df.shape}")
print(f"\nColumns: {list(df.columns)}")
print(f"\nData types:\n{df.dtypes}")
print(f"Data column Data types: {df.describe}")

Dataset shape: (1000, 13)

Columns: ['CustomerID', 'Age', 'Gender', 'MaritalStatus', 'Education', 'Income', 'CreditScore', 'LoanAmount', 'LoanTerm', 'NumOfCreditCards', 'NumOfLatePayments', 'HasDefaultedBefore', 'Default']

Data types:
CustomerID              int64
Age                   float64
Gender                    str
MaritalStatus             str
Education                 str
Income                float64
CreditScore           float64
LoanAmount            float64
LoanTerm                int64
NumOfCreditCards        int64
NumOfLatePayments       int64
HasDefaultedBefore       bool
Default                 int64
dtype: object
Data column Data types: <bound method NDFrame.describe of      CustomerID   Age  Gender MaritalStatus    Education     Income  \
0             1  56.0    Male       Married          PhD   89810.97
1             2  69.0    Male       Married  High School  131037.68
2             3  46.0  Female        Single          PhD   26434.59
3             4  32.0  Female      Divorced  High School  128331.22
4             5  60.0  Female        Single       Master  129710.20
..          ...   ...     ...           ...          ...        ...
995         996  25.0  Female      Divorced  High School   56514.66
996         997  66.0    Male        Single          PhD   47034.33
997         998  52.0    Male        Single          PhD   25458.11
998         999  69.0    Male      Divorced  High School   82303.81
999        1000  32.0    Male        Single  High School   43624.03

     CreditScore  LoanAmount  LoanTerm  NumOfCreditCards  NumOfLatePayments  \
0            NaN     3994.13        24                 6                 10
1          634.0    25465.84        48                 8                  7
2          415.0     6210.53        12                 7                  1
3          348.0     6592.86        48                 8                  0
4          381.0    47111.36        60                 7                  9
..           ...         ...       ...               ...                ...
995        353.0    15452.35        48                 3                 10
996        840.0    24297.72        48                 4                  1
997        766.0    38089.46        60                 3                  3
998        463.0         NaN        60                 8                  1
999        633.0    43318.41        24                 1                  0

     HasDefaultedBefore  Default
0                 False        1
1                  True        0
2                  True        0
3                  True        1
4                 False        0
..                  ...      ...
995               False        1
996                True        0
997                True        0
998                True        0
999                True        1

[1000 rows x 13 columns]>

In [16]:
# Identify missing values
df.isnull().sum()

CustomerID             0
Age                   70
Gender                 0
MaritalStatus          0
Education              0
Income                70
CreditScore           70
LoanAmount            70
LoanTerm               0
NumOfCreditCards       0
NumOfLatePayments      0
HasDefaultedBefore     0
Default                0
dtype: int64

In [17]:
df.isnull().sum()

CustomerID             0
Age                   70
Gender                 0
MaritalStatus          0
Education              0
Income                70
CreditScore           70
LoanAmount            70
LoanTerm               0
NumOfCreditCards       0
NumOfLatePayments      0
HasDefaultedBefore     0
Default                0
dtype: int64

In [18]:
# Make a copy of the original dataset for imputation
df_imputed = df.copy()

# Handle missing values
df_imputed['Age'].fillna(df_imputed['Age'].median(), inplace=True)
df_imputed['Income'].fillna(df_imputed['Income'].median(), inplace=True)
df_imputed['CreditScore'].fillna(df_imputed['CreditScore'].mean(), inplace=True)
df_imputed['LoanAmount'].fillna(df_imputed['LoanAmount'].median(), inplace=True)

# Check if there are any remaining missing values
print("Missing values after imputation:")
df_imputed.isnull().sum()

Missing values after imputation:

C:\Users\CZAR-COMPUTERS\AppData\Local\Temp\ipykernel_2680\4179723211.py:5: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_imputed['Age'].fillna(df_imputed['Age'].median(), inplace=True)
C:\Users\CZAR-COMPUTERS\AppData\Local\Temp\ipykernel_2680\4179723211.py:6: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_imputed['Income'].fillna(df_imputed['Income'].median(), inplace=True)
C:\Users\CZAR-COMPUTERS\AppData\Local\Temp\ipykernel_2680\4179723211.py:7: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_imputed['CreditScore'].fillna(df_imputed['CreditScore'].mean(), inplace=True)
C:\Users\CZAR-COMPUTERS\AppData\Local\Temp\ipykernel_2680\4179723211.py:8: ChainedAssignmentError: A value is being set on a copy of a DataFrame or Series through chained assignment using an inplace method.
Such inplace method never works to update the original DataFrame or Series, because the intermediate object on which we are setting values always behaves as a copy (due to Copy-on-Write).

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' instead, to perform the operation inplace on the original object, or try to avoid an inplace operation using 'df[col] = df[col].method(value)'.

See the documentation for a more detailed explanation: https://pandas.pydata.org/pandas-docs/stable/user_guide/copy_on_write.html
  df_imputed['LoanAmount'].fillna(df_imputed['LoanAmount'].median(), inplace=True)

CustomerID             0
Age                   70
Gender                 0
MaritalStatus          0
Education              0
Income                70
CreditScore           70
LoanAmount            70
LoanTerm               0
NumOfCreditCards       0
NumOfLatePayments      0
HasDefaultedBefore     0
Default                0
dtype: int64